body{
  background: linear-gradient(#BCBDC0 0%, #BCBDC0 3.5%, #FDFFF7 3.5%, #FDFFF7 100%);
  background: linear-gradient(to right, #FDFFF7 0%, #FDFFF7 30%, #A6A6A8 30%, #A6A6A8 70%, #FDFFF7 70%, #FDFFF7 100%)
}
h1{
  font-size:400%;
  font-family:"Arial";

}
p{
  font-family:"Arial";
  font-size:150%;
}
img{
  width:400px
}
ul{
  text-align: center;
  list-style-type: none;
  position: fixed;
}
li{
  float: left;
}
li a{
  padding: 10px;
  color: black;
  font-family: Arial;
  text-decoration: none;
}
li a{
  margin: 10px;
}
li a:hover{
  border-bottom-style: solid;
}
iframe{
  float: left;
  margin-left: 580px;
}

